---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=15d695fd4fad43f293513928232309&q=39.738453,-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '999998'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 12/11/2023 18:03:50
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0fedd7e4f16f93c938ea4ec10e85ddf9
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.98,"tz_id":"America/Denver","localtime_epoch":1702317820,"localtime":"2023-12-11
        11:03"},"current":{"last_updated_epoch":1702317600,"last_updated":"2023-12-11
        11:00","temp_c":7.6,"temp_f":45.7,"is_day":1,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":160,"wind_dir":"SSE","pressure_mb":1020.0,"pressure_in":30.12,"precip_mm":0.0,"precip_in":0.0,"humidity":42,"cloud":50,"feelslike_c":7.2,"feelslike_f":44.9,"vis_km":16.0,"vis_miles":9.0,"uv":2.0,"gust_mph":4.6,"gust_kph":7.3},"forecast":{"forecastday":[{"date":"2023-12-11","date_epoch":1702252800,"day":{"maxtemp_c":7.2,"maxtemp_f":44.9,"mintemp_c":-0.3,"mintemp_f":31.4,"avgtemp_c":2.7,"avgtemp_f":36.8,"maxwind_mph":6.7,"maxwind_kph":10.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":74.0,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":2.0},"astro":{"sunrise":"07:11
        AM","sunset":"04:35 PM","moonrise":"05:58 AM","moonset":"03:23 PM","moon_phase":"Waning
        Crescent","moon_illumination":5,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1702278000,"time":"2023-12-11
        00:00","temp_c":0.7,"temp_f":33.2,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":198,"wind_dir":"SSW","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":82,"cloud":17,"feelslike_c":-1.6,"feelslike_f":29.0,"windchill_c":-1.6,"windchill_f":29.0,"heatindex_c":0.7,"heatindex_f":33.2,"dewpoint_c":-2.0,"dewpoint_f":28.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":9.4,"gust_kph":15.1,"uv":1.0},{"time_epoch":1702281600,"time":"2023-12-11
        01:00","temp_c":0.5,"temp_f":32.9,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":204,"wind_dir":"SSW","pressure_mb":1019.0,"pressure_in":30.1,"precip_mm":0.0,"precip_in":0.0,"humidity":83,"cloud":14,"feelslike_c":-2.0,"feelslike_f":28.5,"windchill_c":-2.0,"windchill_f[...]
